<footer class="bg-dark text-light pt-4">
    <div class="container">
      <div class="row">
        <!-- Contact Section -->
        <div class="col-lg-4 mb-3">
          <h5><i class="fa-solid fa-address-card"></i>Contact Us</h5>
          <ul class="list-unstyled">
            <li><i class="fa-solid fa-phone"></i> +91 12345 67890</li>
            <li><i class="fa-solid fa-envelope"></i> contact@sunlitflavours.com</li>
            <li><i class="fa-solid fa-location-dot"></i> 123 SunCity Ave, Rajasthan, India</li>
          </ul>
        </div>

        <!-- Opening Hours Section -->
        <div class="col-lg-4 mb-3">
            <h5><i class="fa-solid fa-clock"></i>Opening Hours</h5>
            <ul class="list-unstyled">
              <li><i class="fa-solid fa-door-open"></i> Monday-Satuday: 11AM - 23PM</li>
              <li><i class="fas fa-door-closed"></i> Sunday: Closed</li>
            </ul>
          </div>
  
        <!-- Social Media Links -->
        <div class="col-lg-4 mb-3">
          <h5><i class="fa-solid fa-user-plus"></i>Follow Us</h5>
          <div>
            <a href="#" class="me-3"><i class="fa-brands fa-facebook fa-xl"></i></a>
            <a href="#" class="me-3"><i class="fa-brands fa-instagram fa-xl"></i></a>
            <a href="#" class="me-3"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
            <a href="#" class="me-3"><i class="fa-brands fa-linkedin fa-xl"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center py-3 border-top mt-3">
      &copy; <%= new Date().getFullYear() %> Sunlit Flavours. All Rights Reserved By Jayant Verma.
    </div>
</footer>
  